{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
<form>
    <div class="new-questions-title row">Ask a question</div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="How to build a moon park?">
    </div>
    <div class="form-group row">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
            placeholder="Really, how? Have no idea about it!"></textarea>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Tags</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="moon, park, puzzle">
    </div>

    <button type="button" class="btn btn-dark row">ASK!</button>
</form>
{% endblock content %}

{% block right-side %}
    {% include 'inc/right-side.html' %}
{% endblock right-side %}