{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
<form>
    <div class="settings-title row">Settings: Dr. Pepper</div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Login</label>
        <input type="login" class="form-control" id="exampleFormControlInput1" placeholder="Login">
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@example.com">
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">NickName</label>
        <input type="nickname" class="form-control" id="exampleFormControlInput1" placeholder="nickname">
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Upload avatar</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="path/to/file/avatar.jpg">
        <button type="button-path" class="btn btn-dark button-path">choose</button>
    </div>

    <button type="button" class="btn btn-dark row">Save</button>
</form>
{% endblock content %}

{% block right-side %}
    {% include 'inc/right-side.html' %}
{% endblock right-side %}