{% load static %}
<div class="row answer-box">
    <div class="col-3">
        <img class="answer-img" src="{% static "img/200.jpg"%}"></img>
        <div class="row like-box">
            <div class="col-1">
                <div class="likes_count">{{ answer.likes }}</div>
            </div>
            <div class="col-2">
                <row class="up"><svg width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-caret-up-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg></row>
                <row class="down">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </row>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row answer-text">{{ answer.text }}
        </div>
        <div class="row form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Correct!</label>
        </div>
    </div>
</div>