<div class="row tags-side">
    <div class="popular-tags-title">Popular Tags</div>
</div>
<div class="row">
    <div class="tags" style="color: blue;">perl</div>
    <div class="tags" style="color: red">python</div>
    <div class="tags">TechnoPark</div>
</div>
<div class="row best-members-title">Best members</div>
<a href="#" class="row best-member">Mr. Freeman</a>
<a href="#" class="row best-member">Dr. House</a>
<a href="#" class="row best-member">Bender</a>
<a href="#" class="row best-member">Queen Victoria</a>
<a href="#" class="row best-member">V. Pupkin</a>